<!DOCTYPE html>
<html>
  <head>
	<title><%= full_title(yield(:title)) %></title>
	<%= render 'layouts/rails_default' %>
 <%- # The following render is a partial pulling in the _shim.html -%>
	<%= render 'layouts/shim' %>
  </head>
 <body>
 <% #The following render is a partial pulling in the _header.html %>
	<%= render 'layouts/header' %>
	<div class = "container">
		<%= yield %>
	<%= render 'layouts/footer' %>		

	</div>
</body>
</html>
